*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.padre
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    background-color:rgb(118,116,128);
    gap: 20px;
    padding: 20px;
}

    .newMusic
    {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background: linear-gradient(white, rgb(221,220,240));
        display: flex;
        justify-content: center;
        align-items: end;
        border-radius: 8px;
    }
        .newMusic > div 
        {
            display: flex;
            justify-content: center;
        }
        .newMusic > div img
        {
            width: 76%;
        }

    .getReady
    {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background-color: rgb(233, 232, 232);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
        .getReady h2
        {
            width: 90%;
            font-size: 40px;
        }
        .getReady p
        {
            width: 80%;
            font-size: 25px;
        }
        .getReady img
        {
            margin-top: 50px;
        }

    .flores
    {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        background-color: rgb(248,230,227);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        flex-direction: column;
    }
        .flores .lineaArriba
        {
            display: flex;
            justify-content: space-between;
            padding: 0px 30px;
            width: 100%;
            height: 10%;
        }
            .flores .lineaArriba p
            {
                width: 50%;
                font-size: 20px;
                color: rgb(143,117,107);
            }
            .flores .lineaArriba  > div 
            {
                font-size: 25px;
                border-radius: 100%;
                background-color: rgb(0, 0, 0);
                color: rgb(248,230,227);
                height: 70px;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .flores img
        {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width: 100%;
            height: 85%;
        }
        

    .chicaRosa
    {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        background-color: rgb(78, 172, 148);
        border-radius: 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
        .chicaRosa img 
        {
            width: 100%;
            border-radius: 8px;
            height: 100%;   
        }

    .musai
    {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background: linear-gradient(rgb(226, 215, 218),rgb(219, 219, 240));
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .musai img
        {
            width: 60%;
        }

    .cascos
    {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        background: linear-gradient(rgb(219, 219, 240), rgb(226, 215, 218));
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
    }
        .cascos .texto
        {
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;
        }
            .cascos .texto p
            {
                font-size: 30px;
            }
            .cascos .texto .io p
            {
                font-size: 20px;
            }
        .cascos .foto 
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .reproductor
    {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
        background-color: rgb(248,247,252);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
        .reproductor img
        {
            width: 70%;
        }

        .reproductor .texto
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
            .reproductor .texto img
            {
                width: 20%;
                margin-top: 20px;
            }
            .reproductor .texto h2
            {
                width: 80%;
                text-align: center;
                padding-top: 20px;
                font-size: 35px;
            }





@media (max-width: 1280px)
{
    .getReady h2
    {
        width: 100%;
        font-size: 30px;
    }
    .getReady p
    {
        font-size: 22px;
    }
    .getReady img
    {
        margin-top: 15px;
    }

    .flores img
    {
        height: 80%;
    }
    .flores .lineaArriba  > div 
    {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
    .flores .lineaArriba p
    {
        width: 60%;
    }
    .cascos .texto p
    {
        font-size: 22px;
    }
}

@media (max-width: 948px)
{
    .padre
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    .newMusic
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
        .newMusic > div img
        {
            margin-top: 50px;
        }

    .getReady
    {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .flores
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .chicaRosa
    {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .musai
    {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .cascos
    {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    } 
    .reproductor
    {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

}


@media (max-width: 600px)
{
    .padre
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    .newMusic
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .getReady
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .flores
    {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .chicaRosa
    {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .musai
    {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .cascos
    {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    } 
    .reproductor
    {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
}