*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    header{
        height: 150px;
        background-color: burlywood;
    }
    main{
        width: 100%;
        height: 600px;
        background-color: wheat;
        padding: 15px;
        display: flex;
        align-items: center;
    }
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        width: 80%;
        height: 100%;
        background-color: antiquewhite;
    }
    aside{
        width: 20%;
        height: 100%;
        background-color: brown;
    }
    section{
        background-color: chocolate;
        width: 30%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        section img{
            height: 90%;
            width: 90%;
            top: 0;
            left: 0;
            transform-origin: 20% 80%;
            opacity: 1;
            transform: translate(5%,0px) rotate(-2deg) scale(0.80, 0.75) skew(-5deg);
            transition: opacity 3s linear 0.5s ;
        }
       
        .foto1 img:hover{
            position:relative;
            top:40px;
        }
        .foto2 img:hover{
            position:relative;
            opacity: 0;
        }
        .foto3 img:hover{
            position:relative;
            rotate: 99999deg;
            opacity: 0;
            top: 20%;
            left: 20%;
        }
        .foto4 img:hover{
            position:relative;
            top:40px;
        }


    footer{
        height: 169px;
        background-color: black;
    }