*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    header{
        height: 150px;
        background-color: burlywood;
    }
    main{
        width: 100%;
        height: 600px;
        background-color: wheat;
        padding: 15px;
        display: flex;
        align-items: center;
    }
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        width: 80%;
        height: 100%;
        background-color: antiquewhite;
    }
    aside{
        width: 20%;
        height: 100%;
        background-color: brown;
    }
    section{
        background-color: chocolate;
        width: 30%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1.5s linear;
    }
        section img{
            position: relative;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            /* transform-origin: 20% 80%; */
            opacity: 1;
            /* transform: translate(5%,0px) rotate(-2deg)  skew(-5deg); */
            background-color: aqua;
            transition: background 2s linear, width 1.5s linear, border 2s ease-in-out, opacity 1.5s linear, rotate 1s linear;
        }
        
        .foto1 img:hover{
            width: 60%;
            background-color: yellow;
        }
            
        .foto2 img:hover{
            opacity: 0;
        }
      
        .foto3 img:hover{
            rotate: 99999deg;
        }
        .foto4 img{
            object-fit: cover;
        }
        .foto4 {
            overflow: hidden;
        }
        .foto4 img:hover{
            transform: scale(1.1);
        }


    footer{
        height: 169px;
        background-color: black;
    }