body
{
    margin: 0px;
}


header
{
    display: flex;
    height: 50%;
    background: linear-gradient(to right, rgb(243, 238, 243), rgb(107, 105, 105)) ;
    align-items: center;
    justify-content: space-around;   
}

header p
{ 
    display: flex;
    color: rgb(255, 255, 255);
    font-family: "Dancing Script", cursive;
    font-size: x-large;
    padding-right: 3vh;   
}


header i
{
    font-size: 45px;
    padding-left: 4vh;   
}

main 
{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

main h1
{
    font-family: "Dancing Script", cursive;
}

main .calidos
{
    display: flex;
    height: 400px;
    background:  linear-gradient(rgb(244, 233, 135),rgb(124, 36, 36));
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    width: 50%;
    font-size: large;
}

.rojo
{
    color: red;
}

.blanco
{
    color: white;
}

.naranja
{
    color: orange;
}

.amarillo
{
    color: yellow;
}

main .frios
{
    display: flex;
    height: 400px;
    flex-direction: column;
    background:  linear-gradient(rgb(168, 240, 180),rgb(108, 62, 134));
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    width: 50%;
    font-size: large;
}

.verde
{
    color: green;
}

.azul_claro
{
    color: rgb(179, 235, 235);
}

.azul_oscuro
{
    color: rgb(51, 47, 255);
}

.morado
{
    color: purple;
}



