*
{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.padre
{
    display: flex;
    flex-flow: column nowrap;
}

body
{
    font-family: Inter;
}

a
{
    text-decoration: none;
}


    .header
    {
        background: url(fotos/fotografia_grande.jpg);
        background-position: 0px -150px;
        background-size: cover;
        background-attachment: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column nowrap;
        border-bottom: 1px solid white;
    }

        .header span
        {
            color: white;
        }

        .menu
        {
            display: flex;
            flex-flow: row nowrap;
            height: 70px;
            align-items: center;
        }
            .logo
            {
                flex: 1 1 auto;
            }
                .logo img
                {
                    width: 200px;
                }
            .nav
            {
                display: flex;
                flex: 5 1 auto;
                justify-content: center;
            }
                .nav a
                {
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 0 5px;
                    letter-spacing: 2px;
                }
                .nav a:hover
                {
                    color: gold;
                    font-weight: bold;
                }

            .redes
            {
                display: flex;
                flex: 1 1 auto;
            }
                .redes a
                {
                    color: black;
                }
                .redes a:hover
                {
                    color: gold;
                }

            
        .texto
        {
            display: flex;
            align-items: center;
            flex-flow: column wrap;
        }

            h1
            {
                width: fit-content;
                background-color: rgba(240, 248, 255, 0.3);
                margin-bottom: 4px;
                border-radius: 4px;
            }
            .texto p
            {
                text-align: center;
                background-color: rgba(240, 248, 255, 0.3);
                border-radius: 4px;
            }


    .section
    {
        background-color: black;
        display: flex;
    }
        .articulos
        {
            background-color: navajowhite;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }

            .article
            {
                background-color: coral;
                flex: 1 1 40%;
            }
                .article img
                {
                    width: 100%;
                }

            .barraNav
            {
                
                flex: 1 1 100%;
            }

        
        .aside
        {
            background-color: brown;
            flex: 1 1 auto;
        }
            .publicidad
            {
                background-color: rgb(114, 106, 73);
            }
            .publicidad img
            {
                width: 100%;
            }

    .footer
    {
        background-color: black;
        display: flex;
        justify-content: center;
    }
        .piePagina
        {
            width: 300px;
            background-color: aqua;
        }

