*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div{
    border: 1px solid black;
    margin: 10px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 15px;

}

    .hoverSubmenu1{
        position: relative;
        display: inline-block;
    }
        .submenu1 li{
            border: 1px solid black;
            padding: 5px;
            list-style: none;
        }
        .submenu1{
            display: none; /*lo oculta*/
            position: absolute;
            top: 100%;
            left: 0;
            cursor: pointer;
        }
            .hoverSubmenu1:hover .submenu1{
                display: block; 
            }

    .menu ul li a{
        display: block;  /*lo muestra*/
        text-decoration: none;
        padding: 10px;
    }

        

        

