*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.padre{
    width: 100%;
}
    .header{
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(226, 226, 226, 0.75);

        position: fixed;
        top: 0;
        z-index: 999;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        animation: navAnimacion linear both;
        animation-timeline: scroll(root);
        animation-range: 0 300px;
    }
        .dorado{
            color: #aa8447;
        }
        .header a, i{
            color: rgb(198,8,21);
            text-decoration: none;
        }
        .logo{
            max-width: 1080px;

            display: flex;
            justify-content: center;
        }
            .logo a{
                width: 40%;
            }
            .logo img{
                width: 100%;
                animation: logoScroll linear both;
                animation-timeline: scroll(root);
            }

            .logo img:hover{
                animation: logoMovimiento 0.7s linear;
            }

        .containerNavResponsive{
            display: none;
        }
        .containerNav{
            width: 100%;
            max-width: 1080px;

            position: relative;

            display: flex;
            justify-content: center;
        }

        .nav{
            list-style: none;
            gap: 20px;
            font-size: 14px;
            font-weight: 600;
           
            display: flex;

            animation: letras linear both;
            animation-timeline: scroll(root) ;
        }
            .nav li{
                padding-bottom: 10px;
            }
            
            .ruta{
                position: absolute;
                top: 100%;
                width: 100%;
                max-width: 1080px;
                left: 0;

                display: flex;
            }
            
            .menuRuta{
                width: 100%;
                padding: 20px;
                border-top: 2px solid rgb(172,150,135) ;
                list-style: none;
                animation: desplazamientoMenu 0.6s ease both;            

                display: none;
            }
                .menuRuta li{
                    width: 24%;
                    color: rgb(198,8,21);
                    margin: 12px 5px;
                }

                .nav a{
                    opacity: 1;
                    transition: opacity 0.5s linear;
                }

                .nav a:hover{
                    opacity: 0.6;
                }

            .navRuta:hover .ruta .menuRuta{
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-wrap: wrap;
            }

    .progress{
        height: 5px;
        width: 100%;
        background-color: #aa8447;
        position: sticky;
        top: 120px;
        
        animation: progress auto linear;
        animation-timeline: scroll(root);
    }


    .carrousel{
        width: 100%;
        margin-top: 124px;   /*margin que ocupa el height del header*/
    }
        .carrousel img{
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    
        /*Contacto.html*/

    .paginaContacto{      /*MAIN CONTACTO.HTML*/
        margin: 0 auto;
        max-width: 1080px;
        width: 100%;
        margin-top: 60px;
        padding: 0px 70px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        section{
            width: 75%;
        }

            .parrafos p{
                color: gray;
                text-align: justify;
                margin-bottom: 20px;
                line-height: 25px;
            }

            section form{
                width: 100%;
                margin-top: 40px;
                color: gray;
                
                display: flex;
                justify-content: space-between;
                gap: 15px;                
                flex-wrap: wrap;
            }
                form .titulo{
                    font-size: 25px;
                    color: #aa8447;
                }
            section form > input{
                width: 48%;
                padding: 15px;
                background-color: rgb(231, 231, 231);
                border: 0;
            }
            section form textarea{
                width: 100%;
                padding: 15px;
                background-color: rgb(238,238,238);
                border: 0;
            }
            section form p{
                width: 100%;
            }
            section form div{
                width: 100%;
            }
            section form div label{
                margin-left: 15px;
            }
            section form div label a{
                color: black;
                font-weight: bold;
            }
            .containerbotonEnviar{
                margin-bottom: 70px;
                display: flex;
                justify-content: end;
            }
                .containerbotonEnviar input{
                    padding: 15px;
                    font-size: 20px;
                    border:  1px solid #aa8447;
                    color: #aa8447;
                    background-color: white;
                }
                 
                    
        aside{
            width: 20%;
        }
            aside p{
                color: #a57f3d;
                font-size: 18px;
            }
            form{
                margin-top: 5px;
                margin-bottom: 20px;
                
                display: flex;
            }
                aside form input{
                    padding: 10px;
                    width: 70%;
                    border: 1px solid rgb(210, 210, 210);
                }
                    aside .buscar{
                        border-left: 0;
                        color: rgb(102, 102, 102);
                        background-color:rgb(226, 226, 226);
                        width: 30%;
                    }
                    
                .contacta .numero{
                    font-size: 12px;
                    margin-top: 5px;                    

                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                    .numero a{
                        text-decoration: none;
                        color: gray;
                    }

         
    .mainIndex{
        padding: 0px 70px;
        max-width: 1180px;
        width: 100%;
        margin: 60px auto;
    }

        .mainIndex > div p{
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            color: #aa8447;
        }
        
            .rutaTarjetas{
                width: 100%;
            }
            .rutaTarjetas h3{
                margin-top: 140px;
                color: #aa8447;
                text-align: center;
                padding-bottom: 25px;
                font-size: 25px;
            }
        
            .tarjetas{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(6, 1fr);
                gap: 10px 40px;
            }
                .tarjetaSuperior{   
                    grid-row: 1/4;
                    
                    display: grid;
                    grid-template-rows: repeat(3, 1fr); /*subgrid*/  /*lo que ocupa el grid-row*/
                }
                    .tarjetaSuperior .imagen{
                        grid-row: 1/3;
                        opacity: 1;
                        transition: opacity 0.5s ease-in-out;
                    }

                    .tarjetas .imagen:hover{
                        opacity: 0.2;
                    }

                    .tarjetaSuperior .info{
                        grid-row: 3/4;
                        margin-top: 7px;

                        display: grid;
                        grid-template-rows: repeat(3, 40px);
                    }
                
                .tarjetaInferior{
                    grid-row: 4/7;

                    display: grid;
                    grid-template-rows: repeat(3, 1fr); /*subgrid*/  /*lo que ocupa el grid-row*/
                }
                    .tarjetaInferior .imagen{
                        grid-row: 1/3;
                        opacity: 1;
                        transition: opacity 0.4s ease-in-out;
                    }

                    .tarjetas .imagen:hover{
                        opacity: 0.2;
                    }
                    
                    .tarjetaInferior .info{
                        grid-row: 3/4;
                        margin-top: 7px;

                        display: grid; 
                        grid-template-rows: repeat(3, 40px);
                    }
                
                .tarjeta1, .tarjeta5{
                    grid-column: 1 / 2; 
                }

                .tarjeta2, .tarjeta6{
                    grid-column: 2 / 3;
                }
                .tarjeta3, .tarjeta7{
                    grid-column: 3 / 4;
                }
                .tarjeta4, .tarjeta8{
                    grid-column: 4 / 5;
                }

            .tarjetas img{
                width: 100%;
                height: 100%;
            }
            .tarjetas p{
                display: flex;            
                justify-content: start;
            }
            
            .inferiorIconos{
                display: flex;
                align-items: center;
            }
            .inferiorIconos i{
                color: gray;
                font-size: 14px;
            }
            .inferiorIconos p{
                display: inline;
            }

            .gris{
                color: gray;
                font-size: 14px;
                padding: 0px 3px;
            }
            .titulo{
                font-size: 15px;
                text-align: start;
                line-height: 19px;
            }


    footer{
        background-color: black;
        width: 100%;
    }
    .footerPrincipal{
        margin: 0px auto; 
        padding: 0px 80px; 
        max-width: 1180px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerPrincipal a{
        text-decoration: none ;
        color: white;
    }
    .footerPrincipal h4{
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 10px;
    }
        .interes{
            width: 21%;
            padding: 60px 0px;
            margin-right: 30px
        }
            .interes .info{
                margin-bottom: 50px;
            }
            .interes .info a{
                margin: 10px 0px;
                display: block;

            }
            .interes img{
                width: 100%;
            }
        .rutaReserva{
            width: 21%;
            padding: 60px 0px;
            margin-right: 30px;
        }
            .rutaReserva form input{
                padding: 10px;
                width: 50%;
                border: 1px solid rgb(210, 210, 210);
            }
            .rutaReserva .cajitaSearch{
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .rutaReserva .buscar{
                border-left: 0;
                color: rgb(102, 102, 102);
                background-color:rgb(226, 226, 226);
                width: 35%;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            .telefono h4{
                margin-top: 30px;
            }
            .telefono a{
                margin: 10px 0px;
            }
        .otrosEnlaces{
            width: 21%;
            padding: 60px 0px;
            margin-right: 30px;
        }
            .otrosEnlaces ul{
                list-style-position: inside;
            }
            .otrosEnlaces li::marker{   /*color puntos de la lista*/
                color: #aa8447;
            }
            .otrosEnlaces li{
                margin-bottom: 10px;
            }
            .otrosEnlaces img{
                width: 100%;
                margin-top: 30px;
            }
        .turismo{
            width: 21%;
            padding: 60px 0px;
            margin-right: 30px;
        }
            .turismo img{
                width: 100%;
            }


@media (max-width: 979px){
    .nav{
        font-size: 12px;
    }

    /*main index*/

    .tarjetas{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 0px 30px;
    }
        .tarjeta1{
            grid-column: 1 / 2; 
            grid-row: 1/2;
        }
        .tarjeta2{
            grid-column: 2 / 3;
            grid-row: 1/2;
        }
        .tarjeta3{
            grid-column: 1 / 2; 
            grid-row: 2/3;
        }
        .tarjeta4{
            grid-column: 2 / 3;
            grid-row: 2/3;
        }
        .tarjeta5{
            grid-column: 1 / 2; 
            grid-row: 3/4;
        }
        .tarjeta6{
            grid-column: 2 / 3;
            grid-row: 3/4;
        }
        .tarjeta7{
            grid-column: 1 / 2; 
            grid-row: 4/5;
        }
        .tarjeta8{
            grid-column: 2 / 3;
            grid-row: 4/5;
        }

    /*Main contacto*/

    aside .buscar{
        width: 35%;
    }

    /*footer*/
        .interes{
            width: 45%;
        }
            .interes img{
                width: 50%;
            }
        .rutaReserva{
            width: 45%;
        }
            .rutaReserva form{
                width: 70%;
            }
        .otrosEnlaces{
            width: 45%;
        }
            .otrosEnlaces img{
                width: 50%;
            }
        .turismo{
            width: 45%;
        }
            .turismo img{
                width: 50%;
            }
}

@media (max-width: 768px){
    .containerNavResponsive{
        display: block;
        width: 80%;
        background-color: rgb(242,242,242);
        margin-bottom: 5px;
    }
        .navResponsive{
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
        .navResponsive p{
            font-size: 13px;
            color: rgb(198,8,21);
            font-weight: 600;
        }
        .navResponsive i{
            color: #aa8447;
        }

    .containerNav{
        display: none;
    }

    aside .buscar{
        width: 50%;
    }

    .footerPrincipal{
        padding: 0px 40px; 
    }
    .interes{
        padding-bottom: 10px;
        width: 40%;
    }
    .rutaReserva{
        padding-bottom: 10px;
        width: 40%;
    }
    .otrosEnlaces{
        padding-bottom: 10px;
        width: 40%;
    }
    .turismo{
        width: 40%;
    }
}

@media (max-width: 640px){
    section{
        width: 100%;
    }
        section form > input{
            width: 100%;
        }

        .containerbotonEnviar input
        {
            font-size: 15px;
        }

    aside{
        width: 100%;
    }
    .contacta .numero{
        font-size: 17px;
        padding: 10px 0px;
    }

    aside .buscar{
        width: 30%;
    }
}

@media(max-width:600px){
    .containerNavResponsive{
        display: block;
        width: 95%;
    }


    .tarjetas{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 1fr);
    }
        .tarjeta1{
            grid-column: 1/-1;
            grid-row: 1/2;
        }
        .tarjeta2{
            grid-column: 1/-1;
            grid-row: 2 / 3;
        }
        .tarjeta3{
            grid-column: 1/-1;
            grid-row: 3/4;
        }
        .tarjeta4{
            grid-column: 1/-1;
            grid-row: 4/5;
        }
        .tarjeta5{
            grid-column: 1/-1;
            grid-row: 5/6;
        }
        .tarjeta6{
            grid-column: 1/-1;
            grid-row: 6/7;
        }
        .tarjeta7{
            grid-column: 1/-1;
            grid-row: 7/8;
        }
        .tarjeta8{
            grid-column: 1/-1;
            grid-row: 8/9;
        }


    .footerPrincipal{
        padding: 0px 40px; 
    }
    .interes{
        padding-bottom: 10px;
        width: 100%;
    }
    .rutaReserva{
        padding-bottom: 10px;
        width: 100%;
    }
    .otrosEnlaces{
        padding-bottom: 10px;
        width: 100%;
    }
    .turismo{
        width: 100%;
    }
}


@keyframes desplazamientoMenu {
    0%{
        translate: -100px;
    }
}

@keyframes logoMovimiento {
    0%{
        scale: 1 ;
    }
    100%{
        scale: 1.2;
    }
}

@keyframes progress {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes navAnimacion {
    to{
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(30px);
    }
}

@keyframes logoScroll {
    to{
        scale: 0.8;
    }
}

@keyframes letras {
    to{
        font-size: 13px;
    }
}