*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.padre{
    width: 100%;
}
    .header{
        background-color: white;
        width: 100%;
        /* box-shadow: 0px 0px 50px 0px rgba(52, 52, 52, 0.75); */

        position: fixed;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
        .header a{
            color: rgb(198,8,21);
            text-decoration: none;
        }
        .logo{
            max-width: 1080px;

            display: flex;
            justify-content: center;
        }
            .logo a{
                width: 40%;
            }
            .logo img{
                width: 100%;
            }

        .containerNav{
            width: 100%;
            max-width: 1080px;

            position: relative;

            display: flex;
            justify-content: center;
        }

        .nav{
            list-style: none;
            gap: 20px;
            font-size: 18px;
           
            display: flex;
        }
            .nav li{
                padding-bottom: 10px;
            }
            .ruta{
                position: absolute;
                top: 105%;
                width: 100%;
                max-width: 1080px;
                left: 0;

                display: flex;
            }
            
            .menuRuta{
                width: 100%;
                padding: 20px;
                border-top: 2px solid rgb(172,150,135) ;
                list-style: none;
               
                display: none;
            }
                
                .menuRuta li{
                    width: 24%;
                    color: rgb(198,8,21);
                    margin: 12px 5px;
                }

            .navRuta:hover .ruta .menuRuta{
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-wrap: wrap;
            }


    .carrousel{
        width: 100%;
        margin-top: 130px;   /*margin que ocupa el height del header*/
    }
        .carrousel img{
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    
    main{
        margin: 0 auto;
        max-width: 1080px;
        width: 100%;
        margin-top: 60px;
        height: 1000px;

        display: flex;
        justify-content: space-between;

    }
        section{
            width: 75%;
        }
            section form{
                width: 100%;
                
                display: flex;
                justify-content: space-between;
                gap: 15px;                
                flex-wrap: wrap;
            }
            section form > input{
                width: 49%;
                padding: 15px;
                background-color: rgb(238,238,238);
                border: 0;
            }
            section form textarea{
                width: 100%;
                padding: 15px;
                background-color: rgb(238,238,238);
                border: 0;
            }
            section form p{
                width: 100%;
            }
            section form div{
                width: 100%;
            }
            section form div label{
                margin-left: 15px;
            }
            section form div label a{
                color: black;
                font-weight: bold;
            }
            .containerbotonEnviar{
                display: flex;
                justify-content: end;
            }
                .containerbotonEnviar input{
                    padding: 15px;
                    font-size: 20px;
                }
                .containerbotonEnviar input:hover:after{
                    content: "<";
                    
                }


        aside{
            width: 20%;
        }
            aside form{
                display: flex;
            }
                aside form input{
                    padding: 10px;
                }

         
